@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.header {
  width: 100%;

  &.fixed {
    position: fixed;
    z-index: 9;
  }

  .title {
    font-family: $font-principal;
    font-weight: $font-principal-bold;
    color: $color-white;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .ctn {
    display: flex;
    justify-content: space-around;
    background-color: $color-principal;
    height: 60px;
    align-items: center;

    .menuAction {
      border: 0;
      background-color: transparent;
      margin-left: 20px;
      outline: none;
      cursor: pointer;
    }

    .showBack {
      padding-left: 20px;
      display: flex;
    }
  }
}
