.header {
  width: 100%;
  .title {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    color: #fff;
    width: 100%;
  }
  .ctn {
    display: flex;
    justify-content: space-around;
    background-color: #0f4c75;
    height: 60px;
    align-items: center;
    .menuAction {
      border: 0;
      background-color: transparent;
      margin-left: 20px;
      outline: none;
      cursor: pointer;
    }
  }
}
