.formAquarium {
  display: flex;
  flex-direction: column;
  padding: 10px;
  @media (min-width: 768px) {
    margin: auto;
    width: 50%;
  }
  .form {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #f5f5f5;
    outline: none;
    font-family: 'Baloo Tamma 2', cursive;
  }
  .btn {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #3282b8;
    color: #fff;
    @media (min-width: 768px) {
      width: 200px;
      margin: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.hint {
  padding: 10px;
  color: #424242;
  text-align: center;
  line-height: 40px;
}
