.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #0f4c75;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav {
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'Rubik', sans-serif;
    width: 200px;
    &:hover {
      text-decoration: underline;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  .logout {
    border: 0;
    background-color: transparent;
    width: 200px;
    text-align: left;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
