.shorcuts {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  height: 100px;

  .type {
    margin: auto;
    background-color: #7e57c2;
    color: #fff;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    height: 50px;

    &:hover {
      cursor: pointer;
    }

    .filter {
      font-size: 14px;
      font-family: 'Rubik', sans-serif;
    }
  }
}
