.listParameters {
  padding: 20px;
  list-style: none;
  .item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin: 10px 0;
    &:hover {
      cursor: pointer;
      background-color: #3282b8;
      color: #fff;
    }
    .value {
      font-weight: 700;
      color: #212121;
      text-transform: capitalize;
      margin: 0 10px;
    }
    .cant {
      font-family: 'Baloo Tamma 2', cursive;
      margin: 0 10px;
    }
  }
}
.hint {
  text-align: center;
  color: #777;
  padding: 10px;
}
