@import './colors.scss';
@import './variables.scss';

.discovery {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .items {
    height: calc(100% - #{$navigation-height});
    background-color: $color-white;
  }
}
