$navigation-height: 123px;
$font-principal: 'Rubik', sans-serif;
$font-principal-bold: 900;
$font-secondary: 'Baloo Tamma 2', cursive;

$border-radius: 20px;
$padding: 10px;
$font-bold: 700;
$font-size-title: 3em;
$breakpoint-desktop: 1025px;
